<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AbExp web interface</title>
    <link rel="icon" href="static/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="..." crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <style>

        .suppl_button {
            background-color: #7393B3;
            color: white;
            border-radius: 7px
        }

        .subm_button {
            background-color: #3c97ff;
            color: white;
            border-radius: 7px;
            padding: 10px;
            width: 94%
        }

        .info-content {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .image-container {
            width: 100%;
            margin-bottom: 10px;
        }

        .image-container img {
            width: 100%;
            height: auto;
        }

        .blur-background {
            filter: blur(3px);
        }

        #snv_input {
            width: 100%;
            box-sizing: border-box;
        }

    </style>
    <script>
        function toggleTissues() {
            var tissuesDiv = document.getElementById("tissuesDiv");
            tissuesDiv.style.display = (tissuesDiv.style.display == "none") ? "block" : "none";
        }

        function uncheckAll() {
            var checkboxes = document.getElementsByName("tissue_checkbox");
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false;
            });
        }

        function checkAll() {
            var checkboxes = document.getElementsByName("tissue_checkbox");
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = true;
            });
        }

        function showInfo(column) {
            var infoContent = document.getElementById('info-content-' + column);
            infoContent.style.display = 'block';
            document.getElementById('main_container').classList.add('blur-background');
        }

        function hideInfo(column) {
            var infoContent = document.getElementById('info-content-' + column);
            infoContent.style.display = 'none';
            document.getElementById('main_container').classList.remove('blur-background');
        }

        function fetchTissues() {
            fetch('/api/tissues')
                .then(response => response.json())
                .then(data => {
                    const tissuesInputDiv = document.getElementById('tissuesInputDiv');
                    const col_size = Math.ceil(data.length / 2)
                    let colDiv = document.createElement('div');
                    colDiv.classList.add('col-md-6');
                    colDiv.innerHTML = '';
                    tissuesInputDiv.appendChild(colDiv);
                    console.log();
                    data.forEach((tissue, index) => {
                        if (index === col_size) {
                            colDiv = document.createElement('div');
                            colDiv.classList.add('col-md-6');
                            colDiv.innerHTML = '';
                            tissuesInputDiv.appendChild(colDiv);
                        }
                        const label = document.createElement('label');
                        label.setAttribute('for', `tissue${index + 1}`);
                        label.innerHTML = `<input type="checkbox" name="tissue_checkbox" id="tissue${index + 1}" value="${tissue}" checked> ${tissue}`;
                        colDiv.appendChild(label);
                        colDiv.appendChild(document.createElement('br'));
                    });
                })
                .catch(error => console.error('Error fetching tissues:', error));
        }

        document.addEventListener('DOMContentLoaded', fetchTissues);
    </script>
</head>
<body>
<div id="info-content-max_score" class="info-content" style="display: none;">
    <p>This option will display only the most extreme variant effects across tissues per variant.
        Recommended for faster prioritization of the input variants.</p>
</div>
<div class="container" style="margin-bottom: 50px" id="main_container">
    <h1 class="text-center mt-5 mb-5">AbExp web interface</h1>
    <div class="row justify-content-around mt-4">
        <div class="col-md-8">
            <form action="/run_abexp" method="POST">
                <p class="text-mt-5"><label for="snv_input"><b>Enter variant(s):</b></label></p>
                <p>You can submit up to 10 variants at once, one per line, in one of the following formats (the <code>chr</code>
                    prefix is optional, examples for hg38):</p>
                <pre>
chr3:152269093:G>A
chr8-140300616-T-G
chr17 10631737 C GT
                    </pre>
                {% with message = get_flashed_messages() %}
                    {% if message %}
                        <!-- <ul class="flashes">
                                {% for message in messages %}
                                    <li style="color: red">{{ message }}</li>
                                {% endfor %}
                            </ul> -->
                        <p style="color: red">{{ message[0] }}</p>
                    {% endif %}
                {% endwith %}
                <textarea id="snv_input" name="snv_input" rows="15" required></textarea>
                <p>Genome version:
                    <label for="genome_hg19">
                        <input type="radio" name="genome" id="genome_hg19" value="hg19" required>
                        hg19
                    </label>
                    <label for="genome_hg38">
                        <input type="radio" name="genome" id="genome_hg38" value="hg38" required>
                        hg38
                    </label>
                </p>
                <p>
                    <button type="button" class="suppl_button" onclick="toggleTissues()">Advanced settings</button>
                </p>
                <div id="tissuesDiv" style="display: none;">
                    <p>Display only the most extreme effect across tissues <i class="fas fa-info-circle"
                                                                              onmouseover="showInfo('max_score')"
                                                                              onmouseout="hideInfo('max_score')"></i>:
                        <label for="Yes">
                            <input type="radio" name="max_score" id="Yes_max_score" value="Yes" required>
                            Yes
                        </label>
                        <label for="No">
                            <input type="radio" name="max_score" id="No_max_score" value="No" required checked>
                            No
                        </label>
                    </p>
                    <p><b>Select tissues:</b></p>
                    <button type="button" class="suppl_button" onclick="uncheckAll()">Uncheck all</button>
                    <button type="button" class="suppl_button" onclick="checkAll()">Check all</button>
                    <div id="tissuesInputDiv" class="row justify-content-around">
                    </div>
                </div>
                <input type="submit" value="Run AbExp" class="subm_button">
            </form>
        </div>
        <div class="col-md-4">
            <div class="row justify-content-around">
                <div class="col-md-6">
                    <div class="image-container">
                        <a href="https://www.cs.cit.tum.de/cmm/home/" target="_blank"><img
                                src="{{ url_for('static', filename='GL_logo.png') }}" alt="Gagneur Lab logo"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-container">
                        <a href="https://www.ghga.de" target="_blank"><img
                                src="{{ url_for('static', filename='GHGA_logo.png') }}" alt="GHGA project logo"></a>
                    </div>
                </div>
            </div>
            <p>
                This website provides an interface for running AbExp on arbitrary variants. AbExp is a method that
                predicts aberrant gene expression across human tissues (<a
                    href="https://doi.org/10.1101/2023.12.04.569414"
                    target="_blank">Hölzlwimmer et al., bioRxiv</a>)
                by integrating various variant annotations with tissue-specific
                <a href="https://zenodo.org/records/8427312/files/gtex_v8_isoform_proportions.tsv?download=1"
                   target="_blank">isoform proportions</a> and
                <a href="https://zenodo.org/records/8427312/files/gtex_v8_expected_expression.tsv?download=1"
                   target="_blank">expression variability</a>.
                The predicted AbExp score shows how much the gene
                expression is above or below the average population, measured in standard deviations.
            </p>
            <p>
                Please also check our <a href="https://github.com/gagneurlab/abexp" target="_blank">GitHub
                repository</a>. Do not hesitate to ask questions and report any bugs in the <a
                    href="https://github.com/gagneurlab/abexp/issues" target="_blank">Issues</a> section on GitHub.
            </p>
            <p>
                <i>The web interface is based on the <a href="https://absplice.cmm.cit.tum.de/" target="_blank">AbSplice
                    web interface</a>,
                    and was developed by Georgios Tsitsiridis under the supervision of Florian Hölzlwimmer and Prof. Dr.
                    Julien Gagneur at <a
                            href="https://github.com/gagneurlab" target="_blank">Gagneur Lab</a></i>
            </p>
        </div>
    </div>
</div>
</body>
</html>
